<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>

    <p>Completed Count: {{completedCount}}</p>

    <form @submit.prevent="addTodo">
      <select v-model="status">
        <option value="all">전체 todo</option>
        <option value="completed">완료된 todo</option>
        <option value="incomplete">미완료된 todo</option>
      </select>

      <div>
        <input type="text" v-model="newTodo">
        <input type="submit" value="Add">
      </div>
    </form>

    <ul>
      <li v-for="todo in filteredTodos" :key="todo.id">
        <input type="checkbox" v-model="todo.isCompleted">
        <span :class="{ 'is-completed': todo.isCompleted }">{{ todo.text }}</span>
        <button @click="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref, computed, watch } = Vue

    const app = createApp({
      setup() {
        const todos = ref([])
        const newTodo = ref('')
        const status=ref('incomplete')
        const completedCount = ref(0)

        watch(todos, (newtodos) => {
          completedCount.value=newtodos.filter(todo => todo.isCompleted).length
        }, {deep:true})

        const addTodo = function () {
          if (newTodo.value.trim() !== '') {
            const todoObj = {
              id: Date.now(),
              text: newTodo.value,
              isCompleted: false
            }
            todos.value.push(todoObj)
            newTodo.value = ''
          }
        }

        const deleteTodo = function (todoId) {
          const index = todos.value.findIndex(todo => todo.id === todoId)
          if (index !== -1) {
            todos.value.splice(index, 1)
          }
        }

        const filteredTodos=computed(()=> {
          if(status.value==='all'){
            return todos.value
          } else if (status.value === 'completed'){
            return todos.value.filter(todo => todo.isCompleted)
          } else {
            return todos.value.filter(todo => !todo.isCompleted)
          }
        })

        return { todos, newTodo, addTodo, deleteTodo, status, filteredTodos, completedCount }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
