{% extends "base.html" %}

{% block content %}
<h1>DETAIL</h1>
<hr>
<div>
  <h5>{{movie.title}}</h5>
  <p>{{movie.description}}</p>

  {% comment %}게시글 업데이트 링크 및 삭제 버튼 구현{% endcomment %}
  {% if user == movie.user %}
  <a href="{% url "movies:update" movie.pk %}" method='POST'>UPDATE</a>

  <form action="{% url "movies.delete" movie.pk %}" method='POST'>
    {% csrf_token %}
    <button type='submit'> DELETE</button>
  </form>
  {% endif %}
</div>
<a href="{% url "movies.index" %}">BACK</a>
<hr>
{% comment %}해당 게시글의 댓글 Read 그리고 Delete 파트 구현{% endcomment %}
<h4>댓글 목록</h4>
<ul>
  {% for comment in comments %}
  <li>
    {{comment.content}}

    {% if user==comment.user %}
    <form action="{% url "movies.comments_delete" movie.pk comment.pk %}" method='PSOT'>
      {% csrf_token %}
      <input type="submit" value='DELETE'>
    </form>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<hr>
{% comment %}댓글 Create 파트 구현{% endcomment %}
<form action="{% url "movies:comments_create" movie.pk %}" method='POST'>
  {% csrf_token %}
  {{comment_form}}
  <input type="submit">
</form>

{% endblock content %}