{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <div class="card shadow p-4 col-md-8 mx-auto">
    <h2 class="fw-bold text-center mb-4">🙋‍♀️ 회원정보 수정</h2>

    <form action="{% url 'accounts:update' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <a href="{% url 'change_password' user.pk %}" class="btn btn-outline-secondary mt-2 mb-4">비밀번호 변경</a>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">저장</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
