<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
    <title>project_book</title>
    {% block style %}
    
    {% endblock style %}
  </head>
  <body>


<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="{% url "books:index" %}" >ThRead</a>
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page"  href="{% url "books:index" %}">INDEX</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url "books:create" %} ">CREATE</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link text-white" href="{% url "accounts:profile" %} ">회원정보</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link text-white" href="{% url "accounts:delete" %} ">회원탈퇴</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link text-white" href="{% url "accounts:logout" %} ">LOGOUT</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page"  href="{% url "books:index" %}">INDEX</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link text-white" href="{% url "accounts:login" %} ">LOGIN</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link text-white" href="{% url "accounts:signup" %} ">SIGNUP</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
    {% block content %}

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>
  </body>
</html>


